{% extends 'account/base.html' %}
{% block title %} Add Location {% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Add Location</h1>

    <!-- District Office Form -->
    <div class="row mb-5">
        <div class="col-md-12 col-lg-6 offset-lg-3">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h4 class="card-title mb-4">Add District Office</h4>
                    <form method="post">
                        {% csrf_token %}
                        {{ district_form.as_p }}
                        <button type="submit" name="add_district" class="btn btn-primary btn-block">Add District Office</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Branch Location Form -->
    <div class="row mb-5">
        <div class="col-md-12 col-lg-6 offset-lg-3">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h4 class="card-title mb-4">Add Branch Location</h4>
                    <form method="post">
                        {% csrf_token %}
                        {{ branch_form.as_p }}
                        <button type="submit" name="add_branch" class="btn btn-primary btn-block">Add Branch Location</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
