{% extends 'account/base.html' %}
{% block title %} HO Dashboard {% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            <h1 class="text-center mb-4">Choose Option</h1>

            <div class="d-grid gap-3">
                <button type="button" class="btn btn-primary btn-lg" onclick="window.location.href='{% url 'headoffice' %}'">
                    <i class="bi bi-house-door"></i> Head Office Page
                </button>
                <button type="button" class="btn btn-primary btn-lg" onclick="window.location.href='{% url 'districtoffice' %}'">
                    <i class="bi bi-geo-alt"></i> District Office Page
                </button>
                <button type="button" class="btn btn-primary btn-lg" onclick="window.location.href='{% url 'branchlocation' %}'">
                    <i class="bi bi-building"></i> Branch Location Page
                </button>
                <button type="button" class="btn btn-primary btn-lg" onclick="window.location.href='{% url 'createuser' %}'">
                    <i class="bi bi-person-plus"></i> Create New User
                </button>
                <button type="button" class="btn btn-primary btn-lg" onclick="window.location.href='{% url 'addlocation' %}'">
                    <i class="bi bi-map"></i> Add Location
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}


